django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
channels
daphne
pandas
openpyxl
rapidfuzz
python-dotenv
redis
gunicorn
uvicorn
psycopg2-binary
requests
onnxruntime
opencv-python-headless
shapely
pyclipper
scikit-image
paddlepaddle
paddleocr
